@model Assignment2Library.Models.publisherTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>publisherTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.international)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.international)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paperQuality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paperQuality)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.publisherId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
